nodered/flows_parurak.json
[{"type":"tab","id":"86b53fc3.dbb348","label":"TV Eye"},{"id":"f8d34f50.47bac","type":"websocket-listener","path":"/ws/votes","wholemsg":"true"},{"id":"a6c82ed2.eef688","type":"watch","name":"take a vote","files":"snapshots/tv-eye-2","x":85,"y":96,"z":"86b53fc3.dbb348","wires":[["97a8b0c0.108a5"]]},{"id":"f17ca2f7.8901b","type":"debug","name":"console","active":true,"console":"false","complete":"true","x":550,"y":235,"z":"86b53fc3.dbb348","wires":[]},{"id":"337f631c.97e114","type":"comment","name":"# comment","info":"the file must appear atomically. \nso instead of `cp x watched_dir`:\n\n    cp x tmp && mv tmp/x watched_dir\n    \nwatch node seems to only watch 1 level deep, \ntake that into account. ","x":84.5,"y":46,"z":"86b53fc3.dbb348","wires":[]},{"id":"97a8b0c0.108a5","type":"function","name":"democrate","func":"/*\n\nDetects potential votes with its sensors:\n\n    input: filename\n    config: a list of sensors\n    output: a list of potential votes: polygon + dominant color\n\n*/\n\nif (msg.topic === \"config\") {\n  return msg;\n} else {\n    var path = context.global.path;\n\tvar relPath = path.join(msg.topic, msg.file);\n\tvar absPath = msg.payload;\n\treturn {\n\t  snapshot: relPath,\n\t  payload: [\n\t    // here be list of (potential) votes\n\t  ]\n\t};\n}\n\n","outputs":1,"x":232,"y":97,"z":"86b53fc3.dbb348","wires":[["9ba37998.0fb0e8"]]},{"id":"9ba37998.0fb0e8","type":"function","name":"vote fraude","func":"/*\n\nActually counts votes and allows to manually override the counts.\n\n    input:\n        potential votes list\n        user interactions: (clicks?)\n    config: colors\n    output: classified votes - one list per color\n\nwhen user clicks it decides on what to do depending on:\n\n    clicked in an active vote - count out\n    clicked on a passive vote - count in\n    clicked outside any vote - ??? for now just ignore this\n\n\n*/\nif (msg.topic === \"config\") {\n  return msg;\n} else {\n\tmsg.rawVotes = msg.payload;\n\tmsg.payload = {\n\t\tpink: [{},{},{},{},{},{},],\n\t\tgreen: [{},{},{},{},{},{},{},],\n\t\tyellow: [{},{},{},{},{},],\n\t};\n\t\n\treturn msg;\n}\n","outputs":1,"x":399,"y":66,"z":"86b53fc3.dbb348","wires":[["f17ca2f7.8901b","37ef6535.c0a812"]]},{"id":"37ef6535.c0a812","type":"websocket out","name":"votes out","server":"f8d34f50.47bac","client":"","x":553,"y":46,"z":"86b53fc3.dbb348","wires":[]},{"id":"ef66bb13.3258b8","type":"websocket in","name":"clicks in","server":"f8d34f50.47bac","client":"","x":241,"y":52,"z":"86b53fc3.dbb348","wires":[["9ba37998.0fb0e8"]]}]